body{
	background: #24C6DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
	text-align:center;
	font-style: italic;
	color: white;
}
section{
	background: white;
	border-radius: 10px;
	padding: 15px;
	width: 350px;
	margin: auto;
	box-shadow: 3px 3px 10px #000000;
	position: center;
}
div{
	text-align: center;
	padding: 8px;
	font-family: Arial;
	font-size: 15px;
}
footer{
	text-align: center;
	font-style: italic;
	color: white;
	font-size: 20px;
}
